#wrapper {
  margin : auto;
  width: 240px;
  text-align: center; 
}

.overlay {
  width : 100%;
  height : 246px;
  float : left;
  z-index: 10;
  background-color: #14bdac; 
}

#board {
  background-color: #14bdac; 
}

.winner {
  background-color: #14bdac; 
}

.draw {
  background-color: #14bdac; 
}

.col {
  display: inline-block;
}

.row {
  display: flex;
  flex-direction: row;
}

.block {
  height: 80px;
  width: 80px;
}

.border-left{
  border-left: solid 2px rgba(0,0,0,0.5);
}

.border-right{
  border-right: solid 2px rgba(0,0,0,0.5);
}

.border-top{
  border-top: solid 2px rgba(0,0,0,0.5);
}

.border-bottom{
  border-bottom: solid 2px rgba(0,0,0,0.5);
}

.buttonXO {
  width: 30%;
  background-color: transparent;
  border: none;
}

.item {
  stroke-dashoffset: 0;
  fill: none;
  stroke-width: 16px;
}
.O {
  stroke: rgb(242, 235, 211);
  stroke-dasharray: 301.635;
}

.X {
  stroke: rgb(84, 84, 84);
  stroke-dasharray: 135.764;
}
